html, body {
    margin: auto;
    padding: 10px;
}

.nav-logo{
    width: 60px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-taps{
    list-style: none;
    display: flex;
    
}
.nav-taps > li{
    display: inline;
    padding: 20px;
    font-weight: 700;
    font-size: 1.2em;
}

.content-wrapper{
    margin: auto;
    width: 50%;

}